/* 这个css文件用来定义内边距 */



/* 总体内边距 */
.m-padded-mini{
    padding-left: 0.6em !important;
    padding-right: 0.6em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}


/* 左右内边距 */
.m-padded-lr{
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
}

.m-padded-lr-small{
    padding-left: 2em !important;
    padding-right: 2em !important;
}


/* 上下内边距 */
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb-small{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-middle{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-large{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-massive{
    padding-top: 6em !important;
    padding-bottom: 6em !important;
}