<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理后台</title>
    <!--semantic-ui的css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/general.css" th:href="@{/css/general.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="icon" href="../../static/images/icon.ico" th:href="@{images/icon.ico}" type="images/x-ico" />
</head>


<body>

    <!-- 导航栏 -->
    <div th:replace="fragment/admin_template :: navigator"></div>

    <br>
    <br>





    <div class="ui container">
        <img class="ui fluid image" src="../../static/images/back.png" th:src="@{/images/back.png}"/>
    </div>

    <br>
    <br>




    <div th:replace="fragment/admin_template :: footer"></div>


    <!--引入semantic-ui的库-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <!-- 引入markdown编辑器 -->
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script>


        //移动端显示
        $('.memu.toggle').click(function () {
            $('.m-item').toggleClass('m-moobile-hide');
        });

        //下拉菜单悬浮
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });



    </script>
</body>

</html>