<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章列表</title>
    <!--semantic-ui的css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/general.css" th:href="@{/css/general.css}">
    <link rel="icon" href="../../static/images/icon.ico" th:href="@{/images/icon.ico}" type="images/x-ico" />
</head>


<body>

    <!-- 导航栏 -->
    <div th:replace="fragment/admin_template :: navigator"></div>



    <div class="m-container-small m-padded-tb-large">
        <div class="ui right aligned container">
            <a type="button" th:href="@{/admin/types/input}" id="newType-btn" class="ui olive button">创建分类</a>
            <a type="button" th:href="@{/admin/types}" id="typeList-btn" class="ui brown button" >分类列表</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="ui container">
            <form id="type-form" th:object="${type}"  th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}" method="post" class="ui form">
                <input type="hidden" name="id" th:value="*{id}">
                <div class="two fields">
                    <div class="required field">
                        <div class="ui left labeled input">
                            <label class="ui white label">类型名称</label>
                            <input type="text" name="name" th:value="*{name}" placeholder="...">
                        </div>
                    </div>
                    <div class="required field">
                        <div class="ui left labeled input">
                            <label class="ui white label">类型颜色</label>
                            <input type="text" name="color" th:value="*{color}" placeholder="...">
                        </div>
                    </div>
                </div>
                <div class="ui right aligned container">
                    <button type="button" id="submit-btn" class="ui primary button">提交</button>
                </div>

            </form>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>


    <div th:replace="fragment/admin_template :: footer"></div>


    <!--引入semantic-ui的库-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <!-- 实现下拉菜单的悬停 -->
    <script>
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });

        //提交
        $('#submit-btn').click(function () {
            $('#type-form').submit();
        });
    </script>
</body>

</html>