<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 隐藏菜单 -->
    <div th:fragment="hiddenMenu" class="ui moving top fixed hidden borderless raised menu">
        <div class="ui container">
            <a rel="#" th:href="@{/index}" class="item"><i class="home icon"></i>主页</a>
            <a rel="#" th:href="@{/article-zone}" class="item"><i class="book icon"></i>所有文章</a>
            <a rel="#" th:href="@{/about}" class="item"><i class="info icon"></i>关于我</a>
        </div>
    </div>

    <!-- 主菜单 -->
    <div th:fragment="mainMenu" class="ui attached m-padded-tb-mini top-mark attached segment animate__animated animate__bounceInLeft">
        <div class="ui container">
            <div class="ui secondary menu">
                <a rel="#" th:href="@{/index}" class="item"><i class="home icon"></i>主页</a>
                <a rel="#" th:href="@{/article-zone}" class="item"><i class="book icon"></i>所有文章</a>
                <a rel="#" th:href="@{/about}" class="item"><i class="info icon"></i>关于我</a>
            </div>
        </div>
    </div>

    <footer th:fragment="footer" class="ui inverted vertical footer segment m-padded-tb-big">
        <div class="ui center aligned container">
            <h4 class="ui inverted header">关于本站</h4>
            <p class="">这里是Shouko的个人网站</p>
            <div class="ui inverted divider"></div>
            <p class="">copyright © 2020-2021 — All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>