<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章区~@Shouko的主页</title>
    <!--semantic-ui的css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}" >
    <link rel="icon" href="../static/images/icon.ico"  th:href="@{/images/icon.ico}" type="images/x-ico" />
</head>


<body>

    <!-- 隐藏菜单 -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a rel="#" class="item"><i class="home icon"></i>主页</a>
            <a rel="#" class="active item"><i class="book icon"></i>文章</a>
            <a rel="#" class="item"><i class="archive icon"></i>资源</a>
            <a rel="#" class="item"><i class="exclamation triangle icon"></i>整活区</a>
            <a rel="#" class="item"><i class="info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon small input">
                    <input type="text" placeholder="搜索全站...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- 主菜单 -->
    <div class="ui inverted m-padded-tb-mini m-opacity-mini attached vertical top-mark center aligned segment">
        <div class="ui container">
            <div class="ui inverted secondary borderless pointing menu">
                <!-- <h2 class="uiattached teal header item">Shouko</h2> -->
                <a rel="#" class="item"><i class="home icon"></i>主页</a>
                <a rel="#" class="active item"><i class="book icon"></i>文章</a>
                <a rel="#" class="item"><i class="archive icon"></i>资源</a>
                <a rel="#" class="item"><i class="exclamation triangle icon"></i>整活区</a>
                <a rel="#" class="item"><i class="info icon"></i>关于我</a>
                <div class="right item">
                    <div class="ui icon small input">
                        <input type="text" placeholder="搜索全站...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="m-container m-opacity m-padded-tb-large">
        <div class="ui container">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui two column grid">
                        <div class="column">
                            <h3 class="ui header"><i class="clone icon"></i>文章分类</h3>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui pointing menu">
                        <a class="item">
                            Java
                            <div class="floating mini ui orange label">10</div>
                        </a>
                        <a class="item">
                            Python
                            <div class="floating mini ui blue label">2</div>
                        </a>
                        <a class="active item">
                            数据库
                            <div class="floating mini ui purple label">6</div>
                        </a>
                        <a class="item">
                            计算机基础
                            <div class="floating mini ui teal label">6</div>
                        </a>
                        <a class="item">
                            数据结构与算法
                            <div class="floating mini ui pink label">6</div>
                        </a>
                        <a class="item">
                            科研
                            <div class="floating mini ui grey label">6</div>
                        </a>
                        <a class="item">
                            杂谈
                            <div class="floating mini ui olive label">6</div>
                        </a>
                        <div class="right menu">
                            <div class="item">
                                <div class="ui transparent icon input">
                                    <input type="text" placeholder="搜索文章或标签...">
                                    <i class="search link icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment m-padded-lr-small">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#">MySQL的事务</a></h3>
                            <p>读未提交(Read uncommitted)，一个事务可以读取另一个未提交事务的数据，最低级别，任何情况都无法保证。</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="./static/images/down.jpg" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">Shouko</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-11-5
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 123
                                        </div>
                                    </div>

                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui pink label m-text-thin m-padded-mini">数据库</a>

                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="ui segment m-padded-lr-small">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#">MySQL的事务</a></h3>
                            <p>读未提交(Read uncommitted)，一个事务可以读取另一个未提交事务的数据，最低级别，任何情况都无法保证。</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="./static/images/down.jpg" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">Shouko</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-11-5
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 123
                                        </div>
                                    </div>

                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui pink label m-text-thin m-padded-mini">数据库</a>

                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1008/800/450" alt="" class="ui rounded image">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="ui segment m-padded-lr-small">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#">MySQL的事务</a></h3>
                            <p>读未提交(Read uncommitted)，一个事务可以读取另一个未提交事务的数据，最低级别，任何情况都无法保证。</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="./static/images/down.jpg" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">Shouko</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-11-5
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 123
                                        </div>
                                    </div>

                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui pink label m-text-thin m-padded-mini">数据库</a>

                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1008/800/450" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui center aligned segment">
                    <div class="ui pagination menu">
                        <a class="active item">
                            1
                        </a>
                        <a class="item">
                            2
                        </a>
                        <a class="item">
                            3
                        </a>
                        <div class="disabled item">
                            ...
                        </div>
                        <a class="item">
                            10
                        </a>
                        <a class="item">
                            11
                        </a>
                        <a class="item">
                            12
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <footer class="ui inverted m-opacity-mini vertical footer segment m-padded-tb-big">
        <div class="ui center aligned container">
            <h4 class="ui inverted header ">关于本站</h4>
            <p class="">这里是Shouko的个人网站</p>
            <div class="ui inverted divider"></div>
            <p class="">copyright © 2020-2021 — All Rights Reserved.</p>
        </div>

    </footer>


    <!--引入semantic-ui的库-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script>
        $('.top-mark')
            .visibility({
                once: false,
                onBottomPassed: function () {
                    $('.fixed.menu').transition('fade in');
                },
                onBottomPassedReverse: function () {
                    $('.fixed.menu').transition('fade out');
                }
            });
    </script>
</body>

</html>