<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章区~@Shouko的主页</title>
    <!--semantic-ui的css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}" >
    <link rel="icon" href="../static/images/icon.ico"  th:href="@{/images/icon.ico}" type="images/x-ico" />
</head>


<body>

    <!-- 隐藏菜单 -->
    <div th:replace="fragment/template :: hiddenMenu"></div>

    <!-- 主菜单 -->
    <div th:replace="fragment/template :: mainMenu" ></div>

    <div class="m-container m-opacity m-padded-tb-massive">
        <div class="ui container">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="ui two column grid">
                        <div class="column">
                            <h3 class="ui header"><i class="clone icon"></i>文章分类</h3>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui pointing menu">
                        <div th:each="type : ${types}">
                            <a class="item" th:href="@{/article-zone/{id}(id=${type.id})}" th:classappend="${type.id==activeTypeId} ? 'active' " th:text="${type.name}">
                                Java
                                <div class="floating mini ui label" th:classappend="${type.color}" th:text="${ #arrays.length(type.articles) }">10</div>
                            </a>
                        </div>
                        <div class="right menu">
                            <div class="item">
                                <div class="ui transparent icon input">
                                    <input type="text" placeholder="搜索文章">
                                    <i class="search link icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment m-padded-lr-small" th:each="article: ${pageInfo.list} ">
                    <div class="ui grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}">"MySQL的事务</a></h3>
                            <p th:text="|${article.description}......|" >读未提交(Read uncommitted)，一个事务可以读取另一个未提交事务的数据，最低级别，任何情况都无法保证。</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/down.jpg" th:src="${article.avatar}" alt="" class="ui avatar image">
                                            <div class="content" th:text="${article.nickname}">Shouko</div>
                                        </div>
                                        <div class="item" >
                                            <i class="calendar icon"></i>
                                            <span th:text="${#temporals.format(article.createTime,'yyyy-MM-dd')}"></span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>
                                            <span th:text="${article.views}"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui pink label m-text-thin m-padded-mini" th:text="${article.typeName}">数据库</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/id/1005/800/450" th:src="${article.firstPagePic}" class="ui rounded image"/>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="ui center aligned segment">
                    <div class="ui pagination menu">
                        <a class="active item">
                            1
                        </a>
                        <a class="item">
                            2
                        </a>
                        <a class="item">
                            3
                        </a>
                        <div class="disabled item">
                            ...
                        </div>
                        <a class="item">
                            10
                        </a>
                        <a class="item">
                            11
                        </a>
                        <a class="item">
                            12
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="fragment/template :: footer"></footer>


    <!--引入semantic-ui的库-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script>
        $('.top-mark')
            .visibility({
                once: false,
                onBottomPassed: function () {
                    $('.fixed.menu').transition('fade in');
                },
                onBottomPassedReverse: function () {
                    $('.fixed.menu').transition('fade out');
                }
            });
    </script>
</body>

</html>