<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大家吼!~欢迎来到Shouko的主页</title>
    <!--semantic-ui的css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="./static/css/me.css"> 
    <link rel="icon" href="./static/images/maomi.ico" type="images/x-ico" />
</head>


<body>

    <!-- 隐藏菜单 -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a rel="#" class="active item"><i class="home icon"></i>主页</a>
            <a rel="#" class="item"><i class="book icon"></i>文章</a>
            <a rel="#" class="item"><i class="archive icon"></i>资源</a>
            <a rel="#" class="item"><i class="exclamation triangle icon"></i>整活区</a>
            <a rel="#" class="item"><i class="info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon small input">
                    <input type="text" placeholder="搜索全站...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 主菜单 -->
    <div class="ui inverted m-padded-tb-mini attached vertical top-mark center aligned segment">
        <div class="ui container">
            <div class="ui inverted secondary borderless pointing menu">
                <!-- <h2 class="uiattached teal header item">Shouko</h2> -->
                <a rel="#" class="active item"><i class="home icon"></i>主页</a>
                <a rel="#" class="item"><i class="book icon"></i>文章</a>
                <a rel="#" class="item"><i class="archive icon"></i>资源</a>
                <a rel="#" class="item"><i class="exclamation triangle icon"></i>整活区</a>
                <a rel="#" class="item"><i class="info icon"></i>关于我</a>
                <div class="right item">
                    <div class="ui icon small input">
                        <input type="text" placeholder="搜索全站...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

    
    <div class="m-padded-tb-large">
        <div class="ui container">
            <div class="ui grid">
                <div class="twelve wide column"> 
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <h3 class="ui header"><i class="clone icon"></i>最新文章</h3>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment m-padded-lr-small">
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header"><a href="#">MySQL的事务</a></h3>
                                    <p>读未提交(Read uncommitted)，一个事务可以读取另一个未提交事务的数据，最低级别，任何情况都无法保证。</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="./static/images/down.jpg" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Shouko</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2020-11-5
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui pink label m-text-thin m-padded-mini">数据库</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div> 
                                
                            </div>
                        </div>
                        <div class="ui segment m-padded-lr-small">
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header"><a href="#">MySQL的事务</a></h3>
                                    <p>读未提交(Read uncommitted)，一个事务可以读取另一个未提交事务的数据，最低级别，任何情况都无法保证。</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="./static/images/down.jpg" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Shouko</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2020-11-5
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui pink label m-text-thin m-padded-mini">数据库</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1008/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div> 
                                
                            </div>
                        </div>
                        <div class="ui segment m-padded-lr-small">
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header"><a href="#">MySQL的事务</a></h3>
                                    <p>读未提交(Read uncommitted)，一个事务可以读取另一个未提交事务的数据，最低级别，任何情况都无法保证。</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="./static/images/down.jpg" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Shouko</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2020-11-5
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 123
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui pink label m-text-thin m-padded-mini">数据库</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1008/800/450" alt="" class="ui rounded image">
                                    </a>
                                </div> 
                                
                            </div>
                        </div>
                    </div>
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <h3 class="ui header"><i class="archive icon"></i>最新资源</h3>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            
                        </div>
                    </div>        
                </div>
                <div class="four wide column">
                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui column grid">
                                <div class="column">
                                    <h3 class="ui header"><i class="envelope outline icon"></i>公告</h3>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            <p>本站正在开发中......</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>

                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui column grid">
                                <div class="column">
                                    <h3 class="ui header"><i class="tags icon"></i>热门标签</h3>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="ui pink label m-text-thin m-padded-mini m-margin-mini">数据库</a>
                            <a href="#" target="_blank" class="ui teal label m-text-thin m-padded-mini m-margin-mini">Python</a>
                            <a href="#" target="_blank" class="ui yellow label m-text-thin m-padded-mini m-margin-mini">Java</a>
                            <a href="#" target="_blank" class="ui green label m-text-thin m-padded-mini m-margin-mini">Spring</a>
                            <a href="#" target="_blank" class="ui blue label m-text-thin m-padded-mini m-margin-mini">数据结构与算法</a>
                            <a href="#" target="_blank" class="ui orange label m-text-thin m-padded-mini m-margin-mini">JVM</a>
                            <a href="#" target="_blank" class="ui purple label m-text-thin m-padded-mini m-margin-mini">科研</a>
                            <a href="#" target="_blank" class="ui olive label m-text-thin m-padded-mini m-margin-mini">杂谈</a>
                        </div>
                    </div>

                    <div class="ui segments">
                        <div class="ui segment">
                            <div class="ui column grid">
                                <div class="column">
                                    <h3 class="ui header"><i class="info circle icon"></i>站点信息</h3>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            <p>本站已经正式上线1天</p>
                            <p>您是本站第1位访客</p>
                        </div>
                    </div>

                    

                    
                </div>
            </div>
        </div> 
    </div>

    <footer class="ui inverted vertical footer segment m-padded-tb-big">
        <div class="ui center aligned container">
            <h4 class="ui inverted header m-opacity-mini">关于本站</h4>
                    <p class="m-opacity-mini">这里是Shouko的个人网站</p>
            <div class="ui inverted divider"></div>
            <p class="m-opacity-mini">copyright © 2020-2021 — All Rights Reserved.</p>
        </div>
        
    </footer>

    
    <!--引入semantic-ui的库-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script>
        $('.top-mark')
            .visibility({
              once: false,
              onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
              },
              onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
            }
        });
    </script>
</body>
</html>